.previewContainer {
  max-width: 400px;
  height: 530px;
  display: flex;
  flex-direction: column;
}

.articleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0 1rem;
}

.articleListContainer{
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 400px));
  gap: 1rem;
  justify-content: space-between;
}

.article {
  .media {
    height: 200px;
  }

  .title {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    height: 4rem;
    margin: 1rem 0;
    color: var(--article-text-color);
  }

  .summary,
  .text {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    overflow: hidden;
    color: var(--article-text-color);
  }

  .publishedAt {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    color: var(--article-text-color);
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .actions {
    margin-top: auto;
  }

  .text p {
    margin-bottom: 1rem;
  }
}

.highlight {
  background-color: #fff59d; 
  padding: 0 2px;
  border-radius: 2px;
}
