$nav-btn-color: #363636;

.navButton.navButton{
   text-transform: capitalize;
    color: $nav-btn-color;
    font-family: 'Montserrat, san-serif';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}